BasedOnStyle: GNU
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
# Uncommenting these lines will sometimes result in lines following an
# if(){} or for(){} block being attached to the end of the block.
# AllowShortIfStatementsOnASingleLine: true
# AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: false
  AfterNamespace: true
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
IndentWidth: 4
TabWidth: 4
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: false
Language: Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: Inner
ColumnLimit: 140
PenaltyExcessCharacter: 175
PenaltyReturnTypeOnItsOwnLine: 10
PointerAlignment: Left
SortIncludes: CaseInsensitive
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false
BinPackArguments: false
BinPackParameters: false
Standard: c++20